<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
	backupGlobals="true"
	backupStaticAttributes="false"
	checkForUnintentionallyCoveredCode="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="true">
	
	<testsuites>
		<testsuite name="default">
			<file>tests/TheFox/Test/AssemblyTest.php</file>
			<file>tests/TheFox/Test/BasicTest.php</file>
			<file>tests/TheFox/Test/InstructionTest.php</file>
			<file>tests/TheFox/Test/JmpTest.php</file>
			<file>tests/TheFox/Test/Mov8086Test.php</file>
			<file>tests/TheFox/Test/MovI386Test.php</file>
			<file>tests/TheFox/Test/MovX8664Test.php</file>
			<file>tests/TheFox/Test/NopTest.php</file>
			<file>tests/TheFox/Test/PopTest.php</file>
			<file>tests/TheFox/Test/PushTest.php</file>
			<file>tests/TheFox/Test/RetTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
